.container {}

#header {
    margin-top: 1em;
    background-color: #97A6AF;
}

#headerpic {
    margin-left: 3em;
}



#family {
    background-color: #97A6AF;
}

#fpic {
    margin-left: 27em;
}

#fampic {
    margin-top: 1em
}



#bff {
    background-color: #97A6AF;
}

#bffpic {
    margin-top: 1em;
}





#insp {
    background-color: #97A6AF;
}

#leftcol {
    margin-top: 1.8em;
}

#rightcol {
    margin-top: 1.8em;
}

#pic3 {
    margin-top: 1.8em;
}

#pic4 {
    margin-top: 1.8em;
}

#pic5 {
    margin-top: 1.8em;
}

#pic6 {
    margin-top: 1.8em;
}

#pic7 {
    margin-top: 1.8em;
    margin-bottom: .7em;
}

#pic8 {
    margin-top: 1.8em;
    margin-bottom: .7em;
}



#end {
    background-color: #97A6AF;
    margin-bottom: 1em;
}
